<header class="container-fluid ">
  <div class="row border-bottom header-custom">
    <div class="col-8 pt-2 pb-2 mx-auto ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand pr-5" href="#">MUSIC FOR LIFE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
              <div class="navbar-nav ">
                <a class="nav-item nav-link text-dark mr-5" href="#">Artists <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-dark mr-5" href="#">Download Music</a>
                <a class="nav-item nav-link text-dark mr-5" href="#">News</a>
                <a class="nav-item nav-link text-dark mr-5" href="#">Contact</a>
              </div>
            </div>
          </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<div class="songs-box container-fluid">
  <div class="row">
      <div class="col-8 mx-auto">
        <div class="row">
          <div class="col-2">

          </div>
          <div class="col-8 row ">
            <div class=" col-8 mt-3 mb-2 control-btn btn-group btn-group-lg mx-auto">
              <button class="btn"><fa name="random"></fa></button>
              <button class="btn"><fa name="fast-backward"></fa></button>
              <button class="btn"><fa name="play"></fa></button>
              <button class="btn"><fa name="fast-forward"></fa></button>
              <button class="btn"><fa name="undo"></fa></button>
            </div>
            <div class="col-12 row">
                <div class="col-1">
                  <p>00:00</p>
                </div>
                <div class="col-10 pt-1" >
                    <audio *ngIf="theSong != undefined" [src]="theSong.link_source"></audio>
                    <p><ngb-progressbar type="dark" [value]="1"></ngb-progressbar></p>
                </div>
                <div class="col-1">
                  <p>04:30</p>
                </div>
            </div>
          </div>
          
          <div class="col-2">

          </div>
        </div>
      </div>
  </div>
</div>
