<div class="list-artists container-fluid p-0">
  <div class="row">
      <div class="col-2 option-div mt-5 pt-3">
          <a href="/artists/{{theArtistID}}/edit">
            E D I T
          </a>
          <a (click)="open(content)" href="javascript:;">
            D E L E T E
          </a>
      </div>
      <div class="col-8 mr-auto mt-5">
          <div class="row">
            <div class="col-5 text-center">
              <a>
                <!-- <i class="fas fa-music"></i> -->
                <img [ngStyle]="{'background-image': 'url(' + theArtistAvatar + ')'}" class=" d-block mx-auto artist-thumb-detail rounded" alt="">
              </a>
              <h1 class="mt-3 mb-3">{{theArtistName}}</h1>
              <p>{{theArtistBio}}</p>
            </div>
            <div class="col-7">
              <ul *ngIf="AllSongFromArtist != undefined" class="list-unstyled list-group list-group-flush">
                <li *ngFor="let song of AllSongFromArtist" class="list-group-item">
                  <h3>
                    <fa name="music"></fa>
                    <a routerLink="/artists/{{theArtistID}}/songs/{{song.id}}" (click)="pushLink(song.link_source)" class="pl-3 text-dark">
                      {{song.title}}
                    </a>
                    
                  </h3>
                </li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</div>